:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #1da1f2; /* Twitter 的主色 */
  --secondary-color: #14171a; /* 深色主題背景 */
  --light-background-color: #ffffff; /* 淺色模式背景 */
  --dark-background-color: #000000; /* 深色模式背景 */
  --text-color: rgba(0, 0, 0, 0.87); /* 默認文本顏色 */
  --link-color: #1da1f2; /* 鏈接顏色 */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(dark-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* 過渡效果 */
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
form {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
/* styles.css */

.app-container {
  /* background: #fff; */
  max-width: 1200px;
  color: #000;
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1690px;
}
h1 {
  text-align: center;
}

.layout {
  display: flex;
  width: 100%;
}

.header {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.header-nav ul {
  margin: 0;
  padding: 0;
}
.header-nav li {
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.25s, border-radius 0.25s ease-in-out;
}
.header-nav li:hover {
  background-color: rgb(6, 6, 6); /* 懸停效果 */
  border-radius: 50%;
}

.header-nav p {
  margin-left: 8px;
}
@media (max-width: 1200px) {
  .header-nav p {
    display: none;
  }
}

.TweetList li {
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: var(dark-background-color);
}
/* 響應式樣式 */
@media (max-width: 992px) {
  .header {
    flex: 1;
  }
  .main-content {
    flex: 6;
    padding: 20px;
    border: 1px solid #e1e8ed;
    margin-left: 20px;
  }

  .sidebar {
    flex: 4;
    position: relative;
    width: auto;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* 在小於 768px 的螢幕上隱藏 sidebar */
  }
}
